<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ pk }}雷达图</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
    <script src="{% static 'radar/js/radar_draw.js' %}"></script>
</head>
<body>
    <div id="chart" style="height: 700px;width: 700px">
        <script>
            $(document).ready(function() {
                let radar_chart = echarts.init(document.getElementById("chart"));
                $.getJSON("{% url 'radar:detail_api' %}", {pk: '{{ pk }}'}, function(json){
                    let x = get_option(json);
                    radar_chart.setOption(x);
                })
            });
        </script>
    </div>
    <div>
         <form action="javascript:void(0)" method="get" style="margin: auto 0;">
             请输入学校名：<br/>
             <input type="text" id="search-text" name="q" autocomplete="off"><button type="button" id='search-button'>搜索</button>
             <p><span id='search-result'></span></p>
         </form>
     </div>
     <script>
     $(document).ready(function(){
        $("#search-text").keyup(function(){
            var q = $("#search-text").val();                         
            $.get("{% url 'radar:search_api' %}",{keywords: q}, function(data){     
                for (var i = data.length - 1; i >= 0; i--) {        
                    $('#search-result').append(data[i]['college_name']+'<br/>')  
                };
            })
        });
        $('#search-text').keyup(function(){
            $('#search-result').empty();
        })
        $('#search-text').blur(function(){
            $('#search-result').empty();
            })
        });
    </script>
</body>
</html>